<!-- Turn nav into flex column -->

<nav style="
    display:grid;
    grid: repeat(4, 40px) / 300px;
    padding-top: 12px;
    gap:26px;
    ">
    <div class="navbar-item">
        <div class="normal-circle">
            <img src="/imgs/home-variant-outline.svg" alt="">
        </div>
        
        <a href="<%= links[0].href %>">
            <span><%= links[0].text %></span>
        </a>
    </div>
    <div class="navbar-item">
        <div class="normal-circle">
            <img src="/imgs/arm-flex-outline.svg" alt="">
        </div>
        
        <a href="<%= links[1].href %>">
            <span><%= links[1].text %></span>
        </a>
    </div>
    <div class="navbar-item">
        <div class="normal-circle">
            <img src="/imgs/weight-lifter.svg" alt="">
        </div>
        
        <a href="<%= links[2].href %>">
            <span><%= links[2].text %></span>
        </a>
    </div>
    <div class="navbar-item">
        <div class="normal-circle">
            <img src="/imgs/target-arrow-svgrepo-com.svg" alt="">
        </div>
        <a href="<%= links[3].href %>">
            <span><%= links[3].text %></span>
        </a>
    </div>
</nav>